---
import type { Project } from '../types/project';

export interface Props {
    project: Project
}

const { project } = Astro.props;
---

<div class="relative flex h-[375px] max-w-[400px]">
    <div
        class={`rounded-xl w-full bg-gradient-to-br p-[2px] ${project.borderColors.start} ${project.borderColors.end}`}
    >
        <div class="h-full bg-black rounded-lg p-4">
            <a
                href={project.link}
                target={!project.link.startsWith("/") ? "_blank" : undefined}
                rel="noreferrer"
            >
                <img src={project.image} alt={project.name} />
            </a>

            <div class="flex justify-between items-center text-white mb-4">
                <a
                    href={project.link}
                    target={!project.link.startsWith("/")
                        ? "_blank"
                        : undefined}
                    rel="noreferrer"
                >
                    <h1 class="text-3xl font-extrabold">
                        {project.name}
                    </h1>
                </a>

                <a href={project.repository} target="_blank" rel="noreferrer">
                    <img
                        src="/logos/github-logo.png"
                        alt={"Repository"}
                        style={{ filter: "invert(100%)" }}
                        height={30}
                        width={30}
                    />
                </a>
            </div>

            <div class="flex w-full justify-between mb-4">
                <p
                    class="text-lg mr-5 text-white flex items-center justify-center"
                >
                    {project.description}
                </p>
            </div>
        </div>
    </div>
</div>
